# Ignore model and data files
*.pkl
*.sqlite3
# Ignore system files
.DS_Store
# Ignore Python cache
__pycache__/
# Ignore virtual environments
modelenv/
fixenv/
resaveenv/
# Ignore other large or unnecessary files
*.log 